# Игнорировать файл с переменными окружения
.env
cookies.txt

# Игнорировать папку с зависимостями
node_modules/

# Игнорировать временные файлы и логи
*.log
*.tmp
*.mp3  # Если ты хочешь игнорировать скачанные аудиофайлы

# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать файлы IDE (если используешь)
.idea/  # IntelliJ IDEA
*.swp   # Vim
*.sublime-project
*.sublime-workspace

# Игнорировать скомпилированные файлы (если будут)
dist/
build/
